<h1> Hello Angular Tutorial! </h1>

<h2> ========================== </h2>
<h1> Tutorial 1 : Interpolation </h1>

<p> this is a paragraph</p>

<em> interpolation is represented by double curly braces. please refer to the code for the text below. </em>

<p> 1 plus 1 is {{ 1 + 1 }}</p>

<p> your username is {{ username }} and this is defined in line 21 of <em>app.component.ts</em></p>

<p> Hi, {{ currentUser.username }} - {{ currentUser.email }}</p>

<p> Hello, {{ currentUser.username + ' - ' +  currentUser.email }}, bye</p>

<p> method getUsername returns {{ getUsername() }} ! </p>

<p> On the other hand, method getEmail returns {{ getEmail() }} =) </p>

<h2> ========================== </h2>
