<h1> Hello!!!!!! </h1>

<div>

  <p> Hello {{currentUser.username}}!!</p>

  <p [hidden]='hideEmail'>Your email is : <em>{{currentUser.email}}</em></p>
  <!-- event to component (click) is event and toggle() is your component  -->
  <button (click)='toggle()'>Toggle (click)</button>

</div>

<button (mouseleave)="toggle()">Toggle(mouseleave)</button>
<!-- <h1> Hello 2 !!! </h1>

<p> this is definitely something </p>

<p> result of 1 + 1 is {{ 1 + 1 }} </p>

<p> Hello, {{ username }}</p>

<p> Hello, {{ currentUser.username}} - {{ currentUser.email }}</p>

<p> Hello, {{ currentUser.username + ' - ' + currentUser.email }}</p>

<p> Hello, {{ getUsername() }}</p>

<input type="text" value="{{ getUsername() }}"> -->
<!--
<div>
  <p>new div</p>
  <p> ===== </p>
  <p>Hello, {{currentUser.username}}!</p>

  <p [hidden]= 'hideEmail'>Your email is: <em> {{ currentUser.email}}</em> </p>

</div>

<input [disabled]='disabledInput' type="text" placeholder="Enter your text">

<input [disabled]='isDisabled()' type="text" placeholder="Enter your text">

<input [disabled]='isDisabled()' type="text" [value]="currentUser.username"
                                              placeholder="Enter your text">
<input [class.blue-bg]='isBlueBg' type="text" placeholder="Enter your text">

<input [style.background-color]='bgColor' type="text"
                                          placeholder="Enter your text"> -->
