<h1> Hello Angular Tutorial! </h1>

<div class="interpolation">
  <hr>
  <h1> Tutorial 1 : Interpolation </h1>

  <p> this is a paragraph</p>

  <em> interpolation is represented by double curly braces. please refer to the code for the text below. </em>

  <p> 1 plus 1 is {{ 1 + 1 }}</p>

  <p> your username is {{ username }} and this is defined in line 21 of <em>app.component.ts</em></p>

  <p> Hi, {{ currentUser.username }} - {{ currentUser.email }}</p>

  <p> Hello, {{ currentUser.username + ' - ' +  currentUser.email }}, bye</p>

  <p> method getUsername returns {{ getUsername() }} ! </p>

  <p> On the other hand, method getEmail returns {{ getEmail() }} =) </p>
</div>

<div class="property-binding">
  <hr>
  <h1> Tutorial 2 : Property Binding </h1>

  <p> Hello {{ getUsername() }} </p>

  <p [hidden]='hideEmail'>Your email is {{currentUser.email}}</p>

  <input [disabled]='disabledInput' type='text' placeholder='Enter text'>

  <input [disabled]='isDisabled()' type='text' placeholder='Enter text'>

  <input [disabled]='isDisabled()' type='text' placeholder='Enter text'
                                                [value]='currentUser.username'>

  <input [class.blue-bg]='isBlueBg' type='text' placeholder='Enter text'>

  <input [style.background-color]='bgColor' type='text'
                                                placeholder='Enter text'>
</div>

<div class="event-binding">
  <hr>
  <h1> Tutorial 3 : Event Binding </h1>

  <p> Hello {{currentUser.username}}!!</p>

  <!-- lets investigate why this is not working anymore -->
  <p><button (click)='toggle()'>Toggle (click)</button></p>

  <p [hidden]='hideEmail'>Your email is : <em>{{currentUser.email}}</em></p>

  <!-- lets investigate why this is not working anymore -->
  <p><button (mouseleave)="toggle()">Toggle(mouseleave)</button></p>

  <!-- negation doesnt work, 2 of the same element on page. for now lets move on -->
</div>

<div class="local-variables">
  <hr>
  <h1> Tutorial 4 : Local Variables </h1>
  <p> assigning input value chomp to a local variable </p>
  <p> new use of referencing which is a var with # in front</p>

  <div>
    <input type='text' #a (keyup)='0' placeholder="type something here!">
    <p>input value is : {{a.value}}</p>
  </div>

  <br>
  <p>lets change our email,</p>
  <h3> Current user email is {{currentUser.email}}!!</h3>

  <!-- clickevents - on click expect something to happen on click-->
  <div>
    <p>on click</p>
    <button type="button" name="button" (click)="changeMail(newMail.value)">Update Email!</button>
    <input type="text"  placeholder="type and click!" #newMail>
  </div>

  <!-- keypress release event on keypress release, angular 2 specific -->
  <!-- calls for keyPress method within app.component.ts -->
  <div>
    <p>on key release</p>
    <input type="text"  placeholder="type and hit enter!" #newMail2 (keyup)="keyPress($event)">
  </div>

  <div> <!-- shortened version keyPress DOESNT call method within app.component.ts -->
    <p>shortened version of on key release</p>
    <input type="text"  placeholder="again type and hit enter!" #newMail3
                                                    (keyup.enter)="changeMail(newMail3.value)">
  </div>
</div>


  <hr>
